p{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    font-family:"comic sans ms";
    background-color: lightblue;
}

option{
    font-family:"comic sans ms";
    background-color: lightblue;
}